*{font-family: 'Roboto', sans-serif;}
.header-link {
    font-weight: 500;
}
.title {
    font-size: 44px;font-weight: 900;
}
.button {
    font-size: 16px;
    font-weight: 700;
}
.table-head {
    font-size: 14px;
    font-weight: 700;
}
.table-body {
    font-weight: 400;
    font-size: 14px;
}
.section-title {
    font-weight: 700;
    font-size: 36;
}
.we-who-are-name {
    font-size: 16px;
    font-weight: 500;
}
.we-who-are-profesion {
    font-size: 16px;
    font-weight: 400;
}
.footer-details {
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: black; padding: 30px
}

